
.container1 {
  justify-content: center;
  display: flex;
  flex-direction: row;
} 

.box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  height: 80px;
  width: 80px;
}

.box2 {
  border-bottom: 5px solid black;
  height: 80px;
  width: 80px;
}

.box3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  border-left: 5px solid black;
  border-bottom: 5px solid black;
  height: 80px;
  width: 80px;
}

.container2 {
  justify-content: center;
  display: flex;
  flex-direction: row;
} 

.box4 {
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  height: 80px;
  width: 80px;
}

.box5 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  border-bottom: 5px solid black;
  height: 80px;
  width: 80px;
}

.box6 {
  border-left: 5px solid black;
  border-bottom: 5px solid black;
  height: 80px;
  width: 80px;
}

.container3 {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.box7 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 5px solid black;
  height: 80px;
  width: 80px;
  font-size: 80px;
}

.box8 {
  height:80px;
  width:80px;
}

.box9 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 5px solid black;
  height: 80px;
  width: 80px;
  font-size: 80px;
}
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple')